<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ry.yqkj.system.mapper.app.ServiceOrderMapper">

    <!--服务订单分页-->
    <select id="selectPage" resultType="com.ry.yqkj.model.resp.app.order.OrderSimpleResp">
        select so.order_no        as orderNo,
               so.cli_user_id     as cliUserId,
               acu.nick_name      as cliUserNickName,
               acu.avatar         as cliUserAvatar,
               so.assist_id       as assistId,
               aa.nick_name       as assistNickName,
               aa.avatar          as assistAvatar,
               aa.gender          as assistGender,
               so.reserve_dur     as reserveDur,
               so.total_amount    as totalAmount,
               so.reserve_time    as reserveTime,
               so.status,
               so.invite_status   as inviteStatus,
               so.ball_room_name  as ballRoomName,
               so.service_address as serviceAddress,
               so.lng,
               so.lat,
               so.refuse_reason   as refuseReason,
               so.create_time     as createTime,
               so.create_by       as createBy
        from service_order so
                 left join app_assistant aa on aa.id = so.assist_id
                 left join app_cli_user acu on acu.id = so.cli_user_id
            ${ew.customSqlSegment}
    </select>


    <!--订单详情-->
    <select id="detail" resultType="com.ry.yqkj.model.resp.app.order.OrderDetailResp">
        select so.order_no        as orderNo,
               so.cli_user_id     as cliUserId,
               acu.nick_name      as cliUserNickName,
               acu.avatar         as cliUserAvatar,
               so.assist_id       as assistId,
               aa.nick_name       as assistNickName,
               aa.avatar          as assistAvatar,
               so.reserve_dur     as reserveDur,
               so.price as price,
               so.total_amount    as totalAmount,
               so.reserve_time    as reserveTime,
               so.status,
               so.invite_status   as inviteStatus,
               so.ball_room_name  as ballRoomName,
               so.service_address as serviceAddress,
               so.lng,
               so.lat,
               so.refuse_reason   as refuseReason,
               so.create_time     as createTime,
               so.create_by       as createBy
        from service_order so
                 left join app_assistant aa on aa.id = so.assist_id
                 left join app_cli_user acu on acu.id = so.cli_user_id
            where so.order_no = #{orderNo}
    </select>
</mapper>